<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
</head>
<body>
    <h2>Registration form</h2>

    <form action="">
        <label for="name">Name:</label><br>
        <input type="text" id="name" placeholder="Ievadi savu vārdu"><br>

        <label for="surname">Surname:</label><br>
        <input type="text" id="surname" placeholder="Ievadi savu uzvārdu"><br>

        <label for="group">Group</label>
        <select name="" id="group">
            <option value="DP2-1">DP2-1</option>
            <option value="DP2-2">DP2-2</option>
            <option value="DP2-3">DP2-3</option>
            <option value="DP2-4">DP2-4</option>
        </select><br>

        <label for="email">Email</label><br>
        <input type="email" id="email"><br>

        <input type="submit" value="Reģistrēties">

    </form>
</body>
</html>